<!--show name and duration of test casses that are passed...-->
<div class="jumbotron">
  <h1>
    <center  style="height:45px;; padding: 2px; margin-left:35px; margin-right:45px;"><small>E2E Test Dashboard</small></center>
  </h1>
</div>

<div class="loading" ng-if="loading"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i><span class="sr-only">Loading...</span></div>
<div ng-if="dataError" class="loading">Data not Found</div>

<div class="container" ng-if="!loading">
    <div style='float: right;'>
        <a href="#/dashboard" style="text-decoration: none"><button style="margin-right:20px" class="btn btn-lg">Dashboard
        </button></a>
    </div>

    <div class="tablestuff2 table">
        <table class="table table-bordered table-condensed table-striped" style="font-size: 0.9em; font-weight: bold">
            <caption><h3>PASSED TESTCASES</h3></caption>

            <thead style=" background: green;color:white">
            <th><b>TestCase Title</b></th>
            <th><b>Duration(mins)</b></th>
            </thead>
            <tbody>

            <!--iterate passData in array that contains data whose status=PASSED-->
            <tr ng-repeat="passData in  passedTestNames">
                <td> {{passData.name}}</td>
                <td> {{passData.duration/60 | number:2}} min</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
