<div class="jumbotron">
  <h2>
    <center style="height:45px;; padding: 2px; margin-left:35px; margin-right:45px;">
      Version Details
    </center>
  </h2>
</div>

<div class="row" ng-if="!loading">
  <a href="#/report" style="text-decoration: none;float: right;margin-bottom: 10px"><button style="margin-right:20px;" class="btn btn-lg">Back
  </button></a>
</div>

<div class="loading" ng-if="loading"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i><span class="sr-only">Loading...</span></div>
<div ng-if="dataError" class="loading">Data not Found</div>

<div class="row" ng-if="!loading" style="margin-top: 15px">
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <caption><h4><strong>Application:</strong> {{appName|uppercase}}</h4></caption>
  </div>
  <div class="col-md-2">
    <caption><h4><strong>Build No:</strong> {{buildId}}</h4></caption>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row" ng-if="!loading">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class="table table-bordered table-striped version-table">
      <thead class="report-header">
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Version</th>
      </thead>
      <tbody>
      <tr ng-repeat="version in versions">
        <td class="col-md-2">{{version.name}}</td>
        <td class="col-md-2"><span ng-if="!version.buildId">N/A</span><span ng-if="version.buildId">{{version.buildId}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4"></div>
</div>
